extends layout

block content
  a.button.update.res.create.home.end(href='/') HOME
  .del-wrapper
    h1 Class #{Class.name}

    if champions.length

      p #[strong Delete the following champions or remove their class type  before attempting to delete this class.]

        p Champions

        dl
        each champ in champions
          dt
            a(href=champ.url) #{champ.name}


    else
      p Do you really want to delete this class?

      form(method='POST' action='')
        div.form-group
          input#authorid.form-control(type='hidden',name='classid', required='true', value=Class._id )

        button.del(type='submit') Delete
