extends layout

block content
  h1 #{title}
  a.button.update.res.create.home.end(href='/') HOME
  form(method='POST' action='')
    div.form-group
      label(for='name') Class:
      input#name(type='text', placeholder='Bruiser,Assasin etc' name='name'
      value=(undefined===Class ? '' : Class.name))
    button.submit(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
