extends layout

block content
  h1 LEAGUE OF LEGENDS WIKI
  a.button.update.res.create(href='/champions') CHAMPIONS
   a.button.update.res.create(href='/classes') CLASS TYPES 
   a.button.update.res.create(href='/resources') RESOURCE TYPES
