extends layout

block content
  .del-wrapper
    h1 Resource #{resource.name}
    a.button.update.res.create.home.end(href='/') HOME
    if champions.length

      p #[strong Delete the following champions or remove their respurce type before attempting to delete this class.]

        p Champions

        dl
        each champ in champions
          dt
            a(href=champ.url) #{champ.name}


    else
      p Do you really want to delete this class?

      form(method='POST' action='')
        div.form-group
          input#authorid.form-control(type='hidden',name='resourceid', required='true', value=resource._id )

        button.del(type='submit') Delete
