extends layout

block content
  h1= title
  a.button.update.res.create.home.end(href='/') HOME
  ul
    each champ in names 
      li
       a(href=champ.url) #{champ.name}  


    else
      li There are no resources.
  a.button.update.res.create(href='/resource/create') Create new resource