extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Resource:
      input#name(type='text', placeholder='Mana,Fire etc' name='name')
    button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
